.sectionContainer {
  height: auto;
  width: 100%;
  background-color: rgba(115, 144, 249, 0.45);
  margin-top: 200px;
}

.sectionHeader {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sectionHeaderContent > h1 {
  font-size: 80px;
  color: #000;
  font-weight: bold;
  padding: 40px;
  padding-bottom: 5px;
}

.sectionHeaderContent > p {
  font-size: 60px;
  font-weight: 200;
  padding-left: 40px;
}

.sectionHeaderImg {
  height: 600px;
}

.sectionHeaderImg > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.sectionContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionContentRight {
  flex-direction: row-reverse !important;
}

.sectionContentImg {
  width: 700px;
}

.sectionContentImg > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.sectionContentTyphographyHead {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

.sectionContentTyphographySubHead {
  font-size: 25px;
  color: #000;
  font-weight: lighter;
  line-height: 35px;
  margin-left: 5px;
}

.sectionContentContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.servicesOfferedSection {
  height: auto;
  padding: 0 60px;
  margin-top: 50px;
}

.servicesOfferedSection > h1 {
  margin-bottom: 40px;
  font-size: 60px;
}

.servicesOfferedSectionContent {
  width: 300px;
}

.servicesOfferedSectionContentImg > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.servicesOfferedSectionContentImg {
  height: 300px;
  width: 300px;
  border-radius: 6px;
}

.servicesOfferedSectionContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.servicesOfferedSectionContentText {
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
}

.servicesOfferedExploreBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.sectionContainerCon {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.howItWorksContainer {
  width: 100%;
  height: 100vh;
}

.howitworksContainerTypography {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.howitworksContainerTypography > h1 {
  font-size: 60px;
  font-weight: 700;
}

.howitworksContainerTypography > p {
  font-size: 30px;
  font-weight: 200;
  margin-top: 5px;
}

.howitworksContainerContent {
  font-size: 50px;
  font-weight: 700;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  background-color: #ffbb22;
  padding: 20px;
  width: fit-content;
}

.howitworksContainerContentRight {
  background-color: #f75b35 !important;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 48px !important;
  margin-top: 40px;
}

.howitworksContainerContentCenter {
  background-color: #3939ff !important;
  color: #fff !important;
  margin-top: 40px;
}

.howitworksContainerContentButton {
  background-color: #ff8c8c;
  opacity: 0.6;
  border-radius: 30px;
  color: #fff;
  padding: 30px 10px;
  width: fit-content;
  font-size: 20px;
  font-weight: 700;
}

.howitworkscontentContentContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.howitworksContainerContentButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 40px;
}

.howitworksContainerContentButton > img {
  height: 40px;
  width: 40px;
}

.howitworksSection {
  margin-top: 100px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.howitworksCenterWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.howitworksRightWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.howitworksWrapper {
  width: 60%;
}

@media (max-width: 768px) {
  .sectionHeaderContent > h1 {
    font-size: 32px;
    padding: 20px;
  }

  .sectionHeaderContent > p {
    font-size: 16px;
    padding-left: 25px;
  }
  .sectionContainerCon {
    width: 80%;
  }
  .sectionContentImg {
    width: unset;
  }
  .sectionContent {
    flex-direction: column !important;
    margin-top: 20px;
  }
  .coinImg > img {
    width: 300px !important;
  }
  .howitworksContainer {
    margin-top: 20px;
  }
  .howitworksContainerTypography > h1 {
    font-size: 32px;
  }
  .howitworksContainerTypography > p{
    font-size: 16px;
  }
  .howitworksSection {
    margin-top: 30px;
    padding: 0 10px;
  }
  .howitworksWrapper{
    width: unset;
  }
  .howitworksContainerContent {
    width: unset;
    font-size: 25px;
  }
  .howitworksContainerTypography {
    margin-top: 30px;
  }
  .sectionHeaderImg {
    height: 300px;
    width: 200px;
  }
  .sectionHeaderContent > h1 {
    line-height: 40px;
  }
}
