.sectionContainer {
  height: auto;
  width: 100%;
  background-color: rgba(115, 144, 249, 0.45);
  margin-top: 200px;
}

.sectionHeader {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sectionHeaderContent > h1 {
  font-size: 80px;
  color: #000;
  font-weight: bold;
  padding: 40px;
  padding-bottom: 5px;
}

.sectionHeaderContent > p {
  font-size: 60px;
  font-weight: 200;
  padding-left: 40px;
}

.sectionHeaderImg {
  height: 600px;
}

.sectionHeaderImg > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.sectionContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionContentRight {
  flex-direction: row-reverse !important;
}

.sectionContentImg {
  width: 700px;
}

.sectionContentImg > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.sectionContentTyphographyHead {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

.sectionContentTyphographySubHead {
  font-size: 25px;
  color: #000;
  font-weight: lighter;
  line-height: 35px;
  margin-left: 5px;
}

.sectionContentContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.servicesOfferedSection {
  height: 100vh;
  padding: 0 60px;
  margin-top: 50px;
}

.servicesOfferedSection > h1 {
  margin-bottom: 40px;
  font-size: 60px;
}

.servicesOfferedSectionContent {
  width: 300px;
}

.servicesOfferedSectionContentImg > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.servicesOfferedSectionContentImg {
  height: 300px;
  width: 300px;
  border-radius: 6px;
}

.servicesOfferedSectionContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.servicesOfferedSectionContentText {
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
}


.servicesOfferedExploreBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.sectionContainerCon {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

