.stepperLabels {
  font-size: 20px !important;
  font-weight: 500 !important;
}

.stepperDescription {
  font-size: 15px;
  display: flex;
  gap: 50px;
  align-items: start;
  color: #8b8b8b;
  width: 100%;
  justify-content: space-between;
}

.stepperDescription > p {
    width: 600px;
}

.stepperContainer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}


.stepperImg {
    height: 200px;
    width: 220px;
    border-radius: 16px;
    object-fit: cover;
}

.stepperImgContainer {
    border-radius: 16px;
}