.servicesContainer {
  width: 100%;
  height: 100vh;
}

.servicesHeader {
  padding-left: 50px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.servicesHeaderContent {
  padding: 0 50px;
  height: 500px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.servicesHeaderImg {
  height: 500px;
  border-radius: 16px;
  background-color: gray;
  width: 100%;
  border-radius: 16px;
}

.servicesHeaderImg > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.servicesSelectWrapper {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.serviceOfferImg {
  height: 40px;
  width: 40px;
}

.serviceOfferImg > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transform: rotate(35deg);
}

.servicesOfferContainer {
  border: 1px solid #cfcfcf;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 16px;
}

.servicesSelectContainer {
  height: 420px;
  border-radius: 16px;
  background-color: #000;
  width: 100%;
  position: relative;
}

.servicesSelectContainer > p {
  color: #fff;
  padding: 20px;
}

.servicesTypes {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  padding-left: 20px;
  margin-bottom: 60px;
  cursor: pointer;
}

.servicesTypes > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.servicesTypes > p {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  margin-top: 5px;
}

.servicesTypesContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.servicesSeeMoreContainer {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.servicesSeeMoreContainer > p {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.servicesSubCategoryContainer {
  padding: 0 50px;
  margin-top: 80px;
}

.servicesSubCategoryContainer > h2 {
  margin-bottom: 20px;
}

.serviceCardDetails {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  color: #ff8c8c;
  font-weight: bold;
  font-size: 13px;
}

.moreServiceTypes {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-bottom: 70px;
}

.moreServiceTypes > p {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}

.moreServicesTypesContainer {
  align-items: flex-start;
  margin-top: 40px;
  padding-right: 40px;
  gap: 10px;
}

// new services pages

.landingServicesContainer {
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landingServicesBentos {
  border-radius: 20px;
  background-color: #c4bbbb;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
}

.landingServicesBentosTwo {
  width: 400px;
  border-radius: 20px;
  background-color: #c4bbbb;
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
  background: url("/assets/Modern Kitchen Interior Design.jpg");
  background-size: cover;
}

.landingServicesBentosContainer {
  background-color: #d9d9d9;
  margin-top: 30px;
  border-radius: 16px;
  height: 700px;
  padding: 20px;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: column;
}

.landingServicesBentosFive {
  width: 400px;
  border-radius: 20px;
  background-color: #c4bbbb;
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
  background: url("/assets/painting.png");
  background-size: cover;
  width: 800px;
}

.bentosExploreWrapper > button {
  border-radius: 50px;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
  padding: 8px 10px;
}

.bentosExploreWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
}

.bentosExploremoreBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bentosRowContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.landingServicesBentosThree {
  border-radius: 20px;
  background-color: #c4bbbb;
  // width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 20px;
  // padding-bottom: 10px;
  // height: 200px;
}

.bentosRowOne {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.landingServicesBentosFour {
  border-radius: 20px;
  background-color: #c4bbbb;
  display: flex;
  height: 140px;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
  background: url("/assets/Elegant Modern Kitchen with Gold Accents.jpeg");
  background-size: cover;
  width: 300px;
}

.landingServicesBentosFive {
  border-radius: 20px;
  background-color: #c4bbbb;
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
  background: url("/assets/painting.png");
  background-size: cover;
  // width: 500px;
}

.landingServicesContainer > h1 {
  font-size: 60px;
}

.landingServicesContainer > p {
  font-weight: 300;
  font-size: 20px;
}

.landingServiceBentosImg {
  width: 200px;
}

.landingServiceBentosImg > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.landingServicesTags {
  border-radius: 50px;
  background-color: #fff;
  color: #000;
  width: fit-content;
  padding: 5px 8px;
  margin-bottom: 5px;
}

.landingServicesTags > h1 {
  font-size: 12px;
}

.servicesContainer {
  width: 100%;
}

.servicesContainer > h1 {
  font-weight: 800;
  margin-top: 40px;
  font-size: 50px;
}

.servicesContainer > p {
  font-weight: 300;
  font-size: 20px;
  line-height: 10px;
}

.servicesWrapper {
  border-radius: 18px;
  margin-top: 50px;
  background-color: #f4f2f2;
  padding: 10px 20px;
}

.AllServicesWrapper {
  padding: 0 40px;
}

.ServiceCardsContainer {
  height: 200px;
  width: 200px;
  border-radius: 18px;
  margin: 20px 0;
}

.ServiceCardsContainer > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 18px;
}

.serviceCardMainContainer {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-y: scroll;
}

.serviceCategories {
  font-size: 40px;
  font-weight: 500;
  font-size: 20px;
}

@media (max-width: 768px) {
  .servicesHeader {
    padding: 0 20px !important;
  }

  .servicesTypesContainer {
    gap: 7px;
  }

  .servicesHeaderContent {
    height: unset;
    width: 100%;
    flex-direction: column;
    padding: 0 20px !important;
  }

  .servicesHeaderImg {
    height: unset;
  }

  .servicesSelectWrapper {
    width: unset;
  }

  .serviceCardPara {
    display: none;
  }

  .serviceCardContent {
    display: none;
  }

  .servicesSubCategoryContainer {
    width: 100%;
    padding: 10px;
  }
  .outlineBtn {
    margin-top: 20px;
  }

  .serviceCardImg {
    width: unset;
    gap: 10px !important;
  }

  .servicesSubCategoryContainer > h2 {
    padding-left: 10px;
  }

  .serviceCardHeadContent {
    width: 100%;
  }
  .landingServicesBentosContainer {
    height: unset;
    padding: 10px 0;
  }
  .bentosRowContainer{
    flex-direction: column;

  }
  .bentosExploremoreBtn {
    flex-direction: column-reverse;
  }
  .landingServicesBentosFive {
   width: 300px;
  }
  .bentosExploreWrapper {
    margin-top: 20px;
  }
  .landingServicesContainer > p {
    font-size: 15px;
  }
}
